body,
html {
   margin: 0;
   padding: 0;
}

.canvasWrap {
   width: 100vw;
   height: 100vh;
   overflow: hidden;
   background: linear-gradient(to bottom, #020111 85%,#191621 100%);
}

canvas {
   // red so i could see where it iiiis
   // border: 1px solid red;
   margin: 0;
   padding: 0;
}
